body{
    font-family: 'Oswald', sans-serif;
   
}
h1{
    font-size: 50px;
}
.change-color{
    color: olivedrab;
}
.half-width{

    width: 50%;
    padding: 5%;
    

}
.half-width img{
    width: 80%;
}

section{
    display: flex;
}