body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 50px;
}
.change-color{
    color: olivedrab;
}
.half-width{

    width: 50%;
    padding: 5%;
    

}
.half-width img{
    width: 80%;
}



.link-button{
    text-decoration: none;
    border: 1px solid ;
    padding: 10px 40px;
    border-radius: 9px;
    background-image: linear-gradient(#FF2E80, #ff2e90);
    color: whitesmoke;
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
  
}
.dream-big{
    display: flex;
}

.section-one{
     
     background-image: url(images/top-banner.png);  
     background-repeat: no-repeat;
     display: flex;
     

}
.link-button2{
    border: 1px solid #FF2E80;
    border-radius: 9px;
    text-decoration: none;
    padding: 10px 60px;
    background-image: linear-gradient(#FF2E80,#FF2E90);
    color: whitesmoke;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
   
  
    

}

.half-width,h3,p{
    text-transform: capitalize;
}
