body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 50px;
}
.change-color{
    color: olivedrab;
}
.half-width{

    width: 50%;
    padding: 5%;
    

}
.half-width img{
    width: 80%;
}



.link-button{
    text-decoration: none;
    border: 1px solid ;
    padding: 10px 40px;
    border-radius: 9px;
    background-image: linear-gradient(#FF2E80, #ff2e90);
    color: whitesmoke;
    font-weight: 500;
    font-size: 22px;
  
}
section{
    display: flex;
}

section-one{
     
     background-image: url(showOff/holiday.jpg);  
     background-repeat: no-repeat;
     

}
.link-button2{
    border: 1px solid yellowgreen;
    border-radius: 9px;
    text-decoration: none;
    padding: 10px 80px;
    

}
